<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	   <!--  Create beans for classes -->
	   <bean id="door1" class="com.msci.Door">
	   		<property name="alarm" ref="soundAlarm"></property>
	   </bean>
	   <bean id="door2" class="com.msci.Door">
	   		<property name="alarm" ref="visualAlarm"></property>
	   </bean>
	   <bean id="soundAlarm" class="com.msci.SoundAlarm"></bean>
	   <bean id="visualAlarm" class="com.msci.VisualAlarm"></bean>
</beans>