<!DOCTYPE html>
<html>
<head>
<title>Guessing Game</title>
</head>
<body>
	<h1>Welcome to guessig game. Enter a number between 1 and 100</h1>
	<form action="guessgame" method="post">
		Guess<input type="text" name="guess"><br/>
		<input type="submit" value="Play">
		<input type='hidden' name='gameInProgress' value='no'>
		<input type='hidden' name='target' value='<% request.getAttribute("target"); %>'>
		<input type='hidden' name='attempts' value='<% request.getAttribute("attempts"); %>'>
	</form>
	
</body>
</html>